@import "../../common/styles/globals";

.Weather {
  .section {
    background: $primary-color;
    width: 100%;
    padding: 0.5rem;
    color: $primary-contrast;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
